<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ORDER</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body background="{% static 'dog.jpg' %}">
    {% csrf_token %}
    <h1 align="center">welcome {{user}}</h1>
    <h3 align="center">YOUR ORDER HAS BEEN PLACED.</h3>
    <h2 align="center">Thank you</h2>
    <div align="center">
        <p><b>TOTAL PRICE IS:{{value}}</b></p>
        <p><b>Make your payment here</b></p>
        <a href="http://www.paytm.com"><button type="submit" class="btn btn-secondary">PAYTM</button></a>
        <a href="https://www.phonepay.com"><button type="submit" class="btn btn-primary">PHONEPAY</button></a><br><br>
        <a href="http://127.0.0.1:8000/registration"><button type="submit" class="btn btn-success">REGISTER</button></a>
    </div>
</body>
</html>